<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Recommended</p>
    <% @posts.sample(5).each do | post | %>
      <a href="/posts/<%= post.id %>" class="panel-block"><%= post.title %></a>
    <% end %>
  </nav>
</div>