<section class="section">
    <div class="columns">
      <% if user_signed_in? %>
        <%= render 'profile' %>
      <% else %>
        <!-- code for else -->
      <% end %>

      <%= render 'feed' %>
      <%= render 'recommended' %>
    </div>
</section>