<h1>New Post</h1>

<%= simple_form_for(@post) do |f| %>
  <%= f.input :title, 
              label: 'Your Post Title:', 
              autofocus: true,
              required: true %>
  <%= f.input :body,
              label: 'Your Post Text:',
              required: true%>

  <%= f.button :submit%>
<% end %>